*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    background: rgb(228, 226, 226);

}
.card{
    background: white;
    border-radius: 10px;
}
.img{
    background: rgb(9, 26, 177);
    width: 300px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}
.img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: -10px;
    border: 2px solid white;
}
.card_bottom{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_text h2{
    font-size: 20px;
    margin-bottom: 5px;
}
.card_text p{
    text-align: center;
}
.card_icon{
    margin: 15px 0 15px;

}
.fa-brands{
    margin-right: 15px;
    font-size: 25px;
}
.fa-brand:last-child{
    margin-right: 0;
}

button{
    background: rgb(9, 26, 177);
    border-radius: 20px;
    padding: 10px;
    border: 1px solid white;
    color: white;
    width: 100px;
    transition: 1s;

}
.sub{
    margin: 0 25px 0;
}
.card_share{
    margin: 20px;
}
.card_share i{
    font-size: 15px;
    margin-right: 15px;
    font-style: italic;
    font-size: small;

}
button:hover{
    cursor: pointer;
    background: rgb(228, 226, 226);
    color: black;
}
.fa-youtube{
    color: red;
}
.fa-instagram{
    color: palevioletred;
}